nav {
  width: 100%;
  margin-bottom: 30px;
  box-shadow: 0 3px 3px gray;
  position: absolute;
  top: 0;
  left: 0;
}

nav > ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style:  none;
  color: #1a8dda;
  padding: 0 20px;
  font-size: 12px;
}

nav > ul > li {
  cursor: pointer;
  font-weight: bolder;
}

nav > ul > li:nth-child(3) > img {
  width: 40px;
  height: 40px;
}